Flask==2.1.1
pandas==1.4.2
joblib==1.1.0
numpy
scikit-learn
matplotlib
joblib
imbalanced-learn
xgboost      # optional, used only if installed (Grid/feature importance)
openml       # optional - if you want to fetch from OpenML more robustly
